@import './assets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply font-sans text-brand-black bg-white antialiased;
    font-weight: 500;
  }

  h1, h2, h3, h4 {
    @apply font-display tracking-brand;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
